@import "tailwindcss";

@theme {
  
  /* ... */
}
.font-funnel {
  font-family: var(--font-poppins);
}
body {

  color: var(--foreground);
  font-family:var(--font-poppins) ;
}

.addfile{
@apply w-[80%] h-24 border border-slate-300 rounded-xl flex justify-center items-center  transition cursor-pointer hover:bg-[#e0eaff] hover:border-0
}