@import "tailwindcss";

@theme {
  
  /* ... */
}
.font-funnel {
  font-family: var(--font-poppins);
}
body {

  color: var(--foreground);
  font-family:var(--font-poppins) ;
}

/* In your globals.css or a dedicated CSS file */


