@import "tailwindcss";

@theme {
  
  /* ... */
}
.font-funnel {
  font-family: var(--font-poppins);
}
body {

  color: var(--foreground);
  font-family:var(--font-poppins) ;
}

.addfile{
@apply w-[80%] h-24 border border-slate-300 rounded-xl flex justify-center items-center  transition cursor-pointer hover:bg-[#e0eaff] hover:border-0
}
.btn{
  @apply px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 cursor-pointer
}
.loginBtn{
 @apply bg-blue-600 hover:bg-blue-700 text-white font-semibold px-8 py-4 rounded-lg text-lg transition-colors duration-200 focus:outline-none focus:ring-4 focus:ring-blue-200 cursor-pointer
}